{% extends 'portfolio/layout.html' %}

{% block title %}About Us{% endblock %}



{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">About Us</h1>
            <p class="text-center">our college provides the following courses</p>
        </div>
    </div>
    
    <!-- Service Images -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 text-center">
            
            <p>Full stack</p>
        </div>
        <div class="col-md-3 text-center">

            <p>AIML</p>
        </div>
        <!-- Add more service images here -->
    </div>
</div>
{% endblock %}

{% block extra_js %}
   
{% endblock %}
